<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
default-init-method="init">
    <bean id="helloWorld" class="com.myspring.HelloWorld" init-method="init">
        <property name="message1" value="Hello World"/>
        <property name="message2" value="Hello World2"/>
    </bean>
    <!--<bean class="com.myspring.InitHelloWorld"/>-->
    <bean id="helloIndia" class="com.myspring.HelloIndia" parent="helloWorld">
        <property name="message1" value="Hello India!"/>
        <property name="message3" value="Namaste India!"/>
    </bean>

</beans>